<div class="card-flat">
  <div class="page-top shadow-sm">
    HORÁRIOS PILATES
    <button class="btn btn-warning fa fa-print pull-right sombra-btn" kendo-button (click)="pdf.saveAs('invoice.pdf')" 
            style="font-size: 14px; margin: 1px" title="imprimir"></button>
  </div>
  <kendo-pdf-export #pdf paperSize="A4" margin="0,5cm">
  <div class="row" id="my-table-p1">
    <div class="col-4">
      <div  class="card-flat">
        <div class="text-center" style="background: lightgray">
          <strong>SEGUNDA</strong>
        </div>
        <div *ngFor="let turma of segunda">
          <strong>{{turma.horario}}</strong> - {{turma.instrutor.nome}}
          <div *ngFor="let aluno of turma.alunos">
            - {{aluno.nome}}
          </div>
          <hr />
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card-flat">
        <div class="text-center" style="background: lightgray">
          <strong>TERÇA</strong>
        </div>
        <div *ngFor="let turma of terca">
          <strong>{{turma.horario}}</strong> - {{turma.instrutor.nome}}
          <div *ngFor="let aluno of turma.alunos">
            {{aluno.nome}}
          </div>
          <hr />
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card-flat">
        <div class="text-center" style="background: lightgray">
          <strong>QUARTA</strong>
        </div>
        <div *ngFor="let turma of quarta">
          <strong>{{turma.horario}}</strong> - {{turma.instrutor.nome}}
          <div *ngFor="let aluno of turma.alunos">
            {{aluno.nome}}
          </div>
          <hr />
        </div>
      </div>
    </div>
  
    <div class="col-4">
      <div class="card-flat">
        <div class="text-center" style="background: lightgray">
          <strong>QUINTA</strong>
        </div>
        <div *ngFor="let turma of quinta">
          <strong>{{turma.horario}}</strong> - {{turma.instrutor.nome}}
          <div *ngFor="let aluno of turma.alunos">
            {{aluno.nome}}
          </div>
          <hr />
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card-flat">
        <div class="text-center" style="background: lightgray">
          <strong>SEXTA</strong>
        </div>
        <div *ngFor="let turma of sexta">
          <strong>{{turma.horario}}</strong> - {{turma.instrutor.nome}}
          <div *ngFor="let aluno of turma.alunos">
            {{aluno.nome}}
          </div>
          <hr />
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card-flat">
        <div class="text-center" style="background: lightgray">
          <strong>SÁBADO</strong>
        </div>
        <div *ngFor="let turma of sabado">
          <strong>{{turma.horario}}</strong> - {{turma.instrutor.nome}}
          <div *ngFor="let aluno of turma.alunos">
            {{aluno.nome}}
          </div>
          <hr />
        </div>
      </div>
    </div>
  </div>
</kendo-pdf-export>
  
</div>